<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Username {{request.session.username}}
    Type {{request.session.Type}}
    {% if request.session.username != '' and request.session.type == 'P'%}
        <h2><p>Patient Dashboard</p> </h2>
         <form action ="" method = "post">
             <p>Note: Please Choose a Doctor before Adding Appointment</p>
             {% csrf_token %}
              {{form.as_p}}
            <input type="submit" value="Create Appointment">
         </form>
        <br>
            <a href = "{% url 'registration:edit_profile' %}">Edit Profile</a>
        <br>
            <a href = "{% url 'registration:login' %}">LogOut</a>
        <br>
        <br>
        <b>History</b>
        <table border="1" cellspacing="2">
            <tr>
                <th>AppointmentID</th>
                <th>Doctor Username</th>
                <th>Appointment Date</th>
                <th>Service Appointed</th>
                <th>Service Price</th>
            </tr>

            {% for e in allSchedule %}
                <tr>
                    <td>{{e.0}}</td>
                    <td>{{e.1}}</td>
                    <td>{{e.2}}</td>
                    <td>{{e.3}}</td>
                    <td>{{e.4}}</td>
                    <td><a href="{% url 'registration:delete_appointment' e.0 %}">delete</a></td>
                </tr>
            {% endfor %}
        </table>

    {% elif request.session.username != '' and request.session.type == 'D'%}
        <p>Doctor Dashboard</p>
            <a href = "{% url 'registration:create_appointment' %}">Add Appointment</a>
        <br>
            <a href = "{% url 'registration:edit_profile' %}">Edit Profile</a>
        <br>
            <a href = "{% url 'registration:login' %}">Log Out</a>
        <br>
        <br>
        <b>Doctor's Appointment</b>
        <table border="1" cellspacing="2">
            <tr>
                <th>Appointment ID</th>
                <th>Patient Name</th>
                <th>Appointment Reason</th>
                <th>Appointment Date</th>
            </tr>
            {% for e in allDoctor %}
                <tr>
                    <td>{{e.0}}</td>
                    <td>{{e.1}}</td>
                    <td>{{e.2}}</td>
                    <td>{{e.3}}</td>
                    <td><a href="{% url 'registration:delete_appointment' e.0 %}">delete</a></td>
                </tr>
            {% endfor %}
        </table>

    {% elif request.session.username != '' and request.session.type == 'A'%}
    <br>
        <a href = "{% url 'registration:create_service' %}">Add Service</a>
    <br>
        <a href = "{% url 'registration:login' %}">LogOut</a>
    <br>
     <b>Doctor Hired</b>
       <table border="1" cellspacing="2">
        <tr>

            <th>Service ID</th>
            <th>Doctor Name</th>
            <th>Service Offered</th>
            <th>Service Price</th>
        </tr>
      {% for e in doctAssign %}
        <tr>
            <td>{{e.0}}</td>
            <td>{{e.1}}</td>
            <td>{{e.2}}</td>
            <td>{{e.3}}</td>
            <td><a href="{% url 'registration:delete_service' e.0 %}">delete</a></td>
        </tr>
      {% endfor %}
   </table>
 {% endif %}
 </body>
</html>