<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Username{{request.session.username}}
    Type{{request.session.Type}}
    {% if request.session.username != '' and request.session.type == 'P'%}
    <p>Patient Dashboard</p>
        <a href = "{% url 'registration:view_appointment' %}">Add Appointment</a>
    <br>
        <a href = "{% url 'registration:create_patient' %}">Add Payment</a>
    <br>
        <a href = "{% url 'registration:edit_profile' %}">Edit Profile</a>
    <br>
        <a href = "{% url 'registration:login' %}">LogOut</a>
    <br>
    <br>
<b>History</b>
 <table border="1" cellspacing="2">
        <tr>
            <th>Doctor Username</th>
            <th>Reason of Appointment</th>
            <th>Appointment Date</th>
            <th>Service Appointed</th>
        </tr>

        {% for e in appointment %}
            <tr>
                <td>{{e.DoctorUsername}}</td>
                <td>{{e.ReasonOfAppointment}}</td>
                <td>{{e.AppointmentDate}}</td>
                <td>{{e.ServiceAppointed}}</td>
            </tr>
        {% endfor %}
    {% elif request.session.username != '' and request.session.type == 'D'%}

    </table>

    </table>

    <p>Doctor Dashboard</p>
      <br>
    <a href = "{% url 'registration:edit_profile' %}">Edit Profile</a>
      <br>
    <a href = "{% url 'registration:login' %}">Log Out</a>
     {% elif request.session.username != '' and request.session.type == 'A'%}
    <a href = "{% url 'registration:create_service' %}">Add Service</a>
    {% endif %}

   <br>
    <br>


 </body>
</html>